*.o
/save
/standard.c
/lib/standard.c
/per2c
/bin
/xconq
/cconq
*.doc make.out
/lib/standard.c
/fonts.dir
/*.pcf
/*.pcf.Z
/*.CKP
/*.ln
/*.BAK
/*.bak
/*.o
/core
/errs
,*
*.sw[pqr]
*~
*.a
.emacs_*
/tags
/TAGS
/make.log
